---
import Button from "./shared/Button.astro"
import Link from "./shared/Link.astro"

type Props = {
    header: string;
    labelbutton: string;
    labelurl: string;
   
    

}

const {header,labelbutton,labelurl} = Astro.props as Props;
---

    <form action="" class="px-8 py-10 flex flex-col  justify-center items-center gap-8 bg-opacity-30 bg-purple-300 backdrop-filter backdrop-blur-lg shadow-inner rounded-3xl border border-purple-300">
        <h1 class="text-2xl text-purple-50 font-title font-extrabold ">{header}</h1>
        <div class="flex flex-col gap-4">

            <input type="text" placeholder="adresse e-mail" class="placeholder:text-purple-300 appearance-none w-full bg-transparent  border-purple-300 border rounded-full leading-tight focus:outline-none p-4 text-content text-purple-100 text-base font-bold tracking-wide">
            <input type="password"  placeholder="mot de passe" class="placeholder:text-purple-300 appearance-none w-full bg-transparent  border border-purple-300 rounded-full leading-tight focus:outline-none p-4 text-content text-purple-100 text-base font-bold tracking-wide">

        </div>
        
        <Button label={labelbutton}  />
        <Link label={labelurl}  isUnderline={true}/>
    </form>
