---

import { Image } from "astro:assets"
---
<section class=" bg-opacity-30 bg-purple-300 backdrop-filter backdrop-blur-lg shadow-inner rounded-full border border-purple-300 flex items-center justify-between px-8 w-full
">
    <input type="text" class="placeholder:text-purple-300 appearance-none w-full bg-transparent  border-none leading-tight focus:outline-none p-4 text-content text-purple-100 text-base font-bold tracking-wide" placeholder="Rechercher un album">
    <button  onclick="{}"><Image src="/icons/magnifying-glass.svg" alt="search" width={32} height={32} format="svg" /></button>
</section>