---
import Navbar from "@/components/Navbar.astro"
---

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
      <body class="bg-gradient-to-tr from-indigo-500 via-purple-500 to-pink-500 h-svh overflow-hidden">
        <section class="absolute left-[calc(-50vw+50px)] bottom-8">
            <div class="absolute left-6 top-0 size-72 bg-purple-700 rounded-full blur-[100px] transform"></div>
            <div class="absolute left-40 top-8 size-48 bg-blue-500 rounded-full blur-[100px] transform"></div>
            <div class="size-32 bg-fuchsia-500 rounded-full blur-[100px] transform"></div>
        </section>
        <slot />
        <Navbar/>
    </body>
</html>